html{
    color:blue;
}
p{
    color: #6610f2;
}
h1{
    color: #6f42c1;
}
h2{
    color:  #e83e8c;
}
h3{
  color:#be8f94;  
}
h4{
    color : #fd7e14; 
}
h5{
    color: #ffc107;
}
h6{
    color : #28a745;
}
header{
    color: #20c997;
}
head{
    color: #17a2b8;
}
.p1{
    color: #fff;
}
.p2{
    color: #6c757d;
}
.p3{
    color : #343a40;
}
.p4{
    color : #007bff;
}
.p5{
    color: #28a745;
}
.p6{
    color : #28a745;
}
.p7{
  color : #17a2b8;
  
}
.p7{
    color  : #ffc107;
    
  }
  .p7{
    color :c;
    
  }
  .p7{
    color : #f8f9fa;
    
  }
  .p7{
    color : #343a40;
    
  }
  .p7{
    color : #343a40;
    
  }
  .p7{
    color : #17a2b8;
    
  }
  .p7{
    color : #17a2b8;
    
  }
  .p7{
    color : #17a2b8;
    
  }
  .p7{
    color :#007bff;
    
  }
  .p7{
    color : #17a2b8;
    
  }
  .p7{
    color : #6610f2;
    
  }
  